<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title><%= "London Crystal User Group" %></title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="js/materialize.min.js"></script>
  <nav class=" purple lighten-2 header__nav-bar" role="navigation">
    <div class="nav-wrapper container center">
      <img src="/images/lcrug_logo.png" alt-text="LCRUG" class="header__logo"/> 
    </div>
  </nav>
  
  <%= content %>
  
  <footer class="page-footer purple lighten-2">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">About us</h5>
          <p class="grey-text text-lighten-4">You want to learn about Crystal. We want to learn about Crystal. Let's all learn about Crystal together.</p>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Contributing</h5>
          <ul>
            <li><a class="white-text" href="http://github.com/carwow/crystal_user_group">Github</a></li>

          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Contact us</h5>
          <ul>
            <li><a class="white-text" href="http://twitter.com/londoncrug">@londoncrug</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>

  </body>
</html>
